   
   
   body, html {
    height: 100%;
    margin: 0;
    padding: 0;
   }
   
   .menu {
    background-color: #0a98bc;
    position: fixed;
    height: 50%;
    width: 200px;
    padding-top: 50px;
   }
    /* Media query para pantallas m치s peque침as */
    @media (max-width: 768px) {
        .sidebar {
            display: none; /* Ocultar la barra lateral en pantallas m치s peque침as */
        }
    }
   
   .menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
   }
   
   .menu a:hover {
    background-color: #555;
   }